<div class="d-flex flex-column">
    <span class="text-danger text-truncate">
        @if (userInput.length % 2 === 0) {
            {{ userInput }}
        }
    </span>
    @if(evenWordsList.length === 0 ) {
        <span class="text"> No even length words </span>
    } @else {
        @for(word of evenWordsList; track word ) {
            <div class="row">
                <div class="col">
                    <div>{{ word }}</div>
                </div>
            </div>
        }
    }
</div>