<div class="d-flex justify-content-center">
  <div class="d-container w-25 border p-3 justify-content-center">
    <div class="d-flex justify-content-center">
      <app-user-input-box  (userInput)="onUserInput($event)" (submitted)="onSubmit($event)"></app-user-input-box>
    </div>

    <div class="d-flex justify-content-between flex-row">
      <app-odd-length-words [oddWordsList]="oddWordsList" [userInput]="currentText"></app-odd-length-words>
      <app-even-length-words [evenWordsList]="evenWordsList" [userInput]="currentText"></app-even-length-words>
    </div>
  </div>
</div>